body {
    font-family: Arial, sans-serif; 
    # Define a fonte.
    text-align: center;             
    # Centraliza o texto.
    background-color: #000000;      
    # Cor de fundo preta.
}

h1 {
    margin-top: 120px;              
        # Margem superior de 120px.
    color: #ffffff;                
        # Cor do texto branco.
}

#game-board {
    display: grid;                               
    # Define como grid.
    grid-template-columns: repeat(3, 100px);     
    # 3 colunas de 100px.
    grid-template-rows: repeat(3, 100px);        
    # 3 linhas de 100px.
    grid-gap: 10px;                              
    # Espaço de 10px entre itens.
    justify-content: center;                     
    # Centraliza o grid.
    margin: 20px auto;                           
    # Margem de 20px e centralização horizontal.
}

button {
    width: 100px;                    
        # Largura de 100px.
    height: 100px;                   
        # Altura de 100px.
    font-size: 36px;                 
        # Fonte de 36px.
    background-color: #007BFF;       
        # Cor de fundo azul.
    color: white;                    
        # Texto branco.
    border: none;                    
        # Sem borda.
    border-radius: 10px;             
        # Cantos arredondados de 10px.
    cursor: pointer;                 
        # Cursor de ponteiro.
}

button:disabled {
    background-color: #ccc;          
            # Cor de fundo cinza claro.
    cursor: not-allowed;             
            # Cursor de não permitido.
}

#message {
    margin-top: 20px;               
    # Margem superior de 20px.
    font-size: 24px;                 
    # Fonte de 24px.
    color: #ffffff;                  
    # Texto branco.
}

#reset-button {
    margin-top: 20px;                
    # Margem superior de 20px.
    padding: 10px 20px;              
    # Padding de 10px x 20px.
    font-size: 18px;                 
    # Fonte de 18px.
    background-color: #28a745;       
    # Cor de fundo verde.
    color: white;                    
    # Texto branco.
    border: none;                    
    # Sem borda.
    border-radius: 5px;              
    # Cantos arredondados de 5px.
    cursor: pointer;                 
    # Cursor de ponteiro.
    text-align: center;              
    # Texto centralizado.
}

#reset-button:hover {
    background-color: #218838;       # Fundo verde mais escuro no hover.
    text-align: center;              # Texto centralizado.
}
